body {
  background-color: #85bb65;
  color: white;
  min-height: 100vh;
  padding: 5rem 1rem 1rem;
  font-family: 'Open Sans', sans-serif;
}

.bet-cover {
  padding-top: 5px;
}

  .bets {
    border: 1px solid;
    outline: none;
    padding: 1rem;
    margin: 2rem;
    max-width: calc(100vh - 75px);

  }
